<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean name="person" class="com.zfw.di04.spel.Person">
		<property name="pname" value="zhangsan" />

		<!-- 使用spel表达示，用静态方法时，是下面的格式 -->
		<property name="page" value="#{T(java.lang.Math).random()*50}" />
	</bean>


	<bean name="student" class="com.zfw.di04.spel.Student">

		<!-- 使用spel表达示，引用类的属性时，用下面的格式 -->
		<property name="name" value="#{person.pname}" />
		<!-- 使用spel表达示，引用类的方法时，用下面的格式 -->
		<property name="age" value="#{person.computeAge()}" />
	</bean>

</beans>