<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 如果在不同的类中，其属性名和值是相同的，我们可以使用异类抽象bean来为那几个相同的属性来设值，让其他相同对象的bean来继承这个基础bean -->
	<bean name="myBase"	abstract="true">
		<property name="school" value="杭科院" />
	</bean>
	<bean name="teacher" class="com.zfw.di07.yileichouxiangbean.Teacher"
		parent="myBase">
		<property name="name" value="lihua" />
		<property name="age" value="25" />
	</bean>
	<bean name="student" class="com.zfw.di07.yileichouxiangbean.Student"
		parent="myBase">
		<property name="name" value="张三"/>
		<property name="age" value="32" />
		<property name="teacher" value="#{teacher.name}"/>
	</bean>
</beans>